* {
    margin: 0;
    padding: 0;
}

h1 {
    color: aliceblue;
    background-color: black;
    margin: 10px 10px 0 10px;
    padding: 10px;
}

h1>span {
    color: cyan;
}

h2 {
    background-color: blueviolet;
    font-style: italic;
    text-align: center;
    color: aliceblue;
    margin: 10px 10px 0 10px;
    padding: 10px;
}

h3 {
    color: darkslateblue;
    background-color: skyblue;
    text-decoration: underline;
    text-align: right;
    margin: 10px 10px 0 10px;
    padding: 10px;
    font-family: cursive;
}